:root {
    --main-accent1: brown;
}  

.font {
    font-family:Anton;
}

.accent1 {
    color:#b00000;
}

.accent2 {
    color:#e0e0e0;
}

:root {
    --main-accent1: #e00000;
    --main-accent2: #e0e0e0;
    --main-font: Anton;
}  

html, body {
    height: 100%;
    background-color: black;
    margin: 0;
}

.header-bar {
    font-family: var(--main-font);
    background: black;
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

.header-bar .heading {
    color: var(--main-accent1);
    font-size:800%;
    line-height:1;
    margin:0;
    margin-bottom:0;
    letter-spacing: .5rem;
}

.header-bar .subheading {
    color: var(--main-accent2);
    font-size:200%;
    margin:0;
    letter-spacing: .1rem;
}

.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.main {
    width: 100%;
    height: 100%;

    margin: 0;
    margin-top: 0;
    font-family: var(--main-font);
}

.main .spacer {
    background: none;
    max-width: 100%;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.main video {
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: 0;
}

.main img {
    height: 100%;
    width: 100%;
    opacity: .5;
    position: fixed;
    object-fit: cover;
    z-index: 0;
}

.main .socials {
    color: var(--main-accent2);
    font-family: var(--main-font);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 100%;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.main .socials table {
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    border: 5px ;
    border-style: solid;
    border-color: var(--main-accent2);
    border-collapse: collapse;
    padding: 0;
}

.main .socials a {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.main .socials img {
    display: block;
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: auto;
}

.main .socials td {
    position: relative;
    padding: 10px;
    border: 5px ;
    text-align: center;
    min-width: 48px;
    border-style: solid;
    border-color: var(--main-accent2);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.main .socials a:link, a:visited, a:active {
    color: var(--main-accent2);
    background-color: transparent;
    text-decoration: none;
}

.main .socials a:hover {
    color: var(--main-accent1);
    background-color: transparent;
    text-decoration: none;
}

.main .content{
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
    height: 100%;
}

.main .content .nextBout{
    color: var(--main-accent1);
    display: none;
    height: fit-content;
    max-width: fit-content;
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 200%;
    border: 5px;
    border-style: solid;
    border-color: var(--main-accent1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main .content .nextBout p {
    font-size: 150%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

.main .content .nextBout span {
    color: var(--main-accent2);
}

.main .content .pastBouts h1 {
    font-size: 350%;
    margin: 0;
    color: var(--main-accent1);
}

.main .content .pastBouts table{
    width:95%;
    font-size: 150%;
    color: var(--main-accent2);
    table-layout:fixed;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blank_row
{
    height: 30px !important; /* overwrites any other rules */
}