.heading {
    font-family:Anton;
    font-size:800%;
    color:red;
    line-height:1;
    text-align: center;
    margin:0;
    margin-bottom:0;
}
.heading2 {
    font-family:Anton;
    font-size:350%;
    color:red;
    line-height:1;
    text-align: left;
    margin:0;
    margin-bottom:0;
}
.subheading {
    font-family:Anton;
    font-size:200%;
    color:white;
    text-align: center;
    margin:0;
}
.subheading2 {
    font-family:Anton;
    font-size:100%;
    color:white;
    text-align: center;
    margin:0;
}
.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.img1 {
    width:48px;
    height:48px;
}
.table1 {
    font-family:Anton;
    text-align: center;
    max-width: fit-content;
    border: 5px ;
    border-style: solid;
    border-color: white;
    color: white;
    border-collapse: collapse;
    padding: 10px;
    margin:0;
    margin-left: auto;
    margin-right: auto;
}
.nextBout{
    font-family: Anton;
    font-size: 275%;
    color: white;
    border: 5px ;
    margin-top: 20px;
    border-style: solid;
    border-color: red;
    line-height: 2;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.nextBoutTitle{
    margin-top: 10px;
}
.nextBoutDetail{
    font-family: Anton;
    font-size: 65%;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.nextBoutTable{
    font-family: Anton;
    color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    border-spacing: 50px 0px;
    table-layout: fixed
}
.nextBoutButtons{
    font-family: Anton;
    font-size: 175%;
    color: white;
    border: 5px;
    padding: 25px;
    border-style: solid;
    border-color: red;
    margin: 10px;
    width: 33%;
    cursor: pointer;
}
.smallunderline {
    font-family:Anton;
    font-size:150%;
    color:white;
    text-decoration: underline;
    margin:0;
}
.large {
    font-family:Anton;
    font-size:185%;
    color:white;
    margin:0;
}
.medium {
    font-family:Anton;
    font-size:165%;
    color:white;
    margin:0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size:150%;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size:150%;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
    font-size:150%;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size:125%;
}
